{% include "header.html" %}

    <body class="bg-gray-100 flex flex-col items-center justify-center">
        <style>
            .nav-link {
                color: black;
            }
            .nav-link:hover {
                background-color: rgb(13, 202, 240); /* Corresponde ao bg-info no Bootstrap */
                color: white;
            }
            .nav-item .btn:hover {
                background-color: rgb(13, 202, 240); /* Corresponde ao bg-info no Bootstrap */
                color: white;
            }
        </style>        
        <div class="bg-white big w-10/12 m-8 flex flex-col items-center rounded-xl shadow shadow-md" style="height: 83vh;"> 
            <div class="w-full">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link text-white active bg-info" aria-current="page" href="/admin-emp">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/employee-review">Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/client-review">Client</a>
                    </li>
                </ul>
            </div>
            <div class="medium w-11/12 h-full border-2 my-4 flex flex-col items-center rounded-xl">
                <div class="w-full border-bottom">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="btn border h-10 m-2 bg-info text-white" aria-current="page" href="/admin-emp">Employees</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn border h-10 m-2" aria-current="page" href="/admin-cli">Clients</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn border h-10 m-2" aria-current="page" href="/admin-est">Establishments</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn border h-10 m-2" aria-current="page" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn border h-10 m-2" aria-current="page" href="/admin-sch">Schedules</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn border h-10 m-2" aria-current="page" href="/admin-spc">Specialities</a>
                        </li>
                    </ul>
                </div>
                <div class="small w-full h-full">
                    <div class="w-full p-4"> 
                        <form class="form-inline w-1/2 flex flex-row" hx-post="/search-employee" hx-trigger="keyup, submit" hx-target="#emp_list" hx-swap="innerHTML">
                            <input class="form-control w-1/2 mr-3" name="name" type="search" placeholder="Search by name" aria-label="Search">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </form>            
                    </div>
                    <div class="w-full px-4 grid grid-cols-2 grid-rows-1" style="height: 40rem; maxHeight: 40rem">
                        <div id="emp_list" class="col-span-1 overflow-auto border-2 rounded-md flex flex-col items-center" hx-get="/employees-list" hx-trigger="load, refreshEmployeesList from:body"> 
                            <!-- trigger means that when the HTTPS solicitation reply contains "refreshemployeesList" in its body, 
                                that will trigger an data update in this div without having to reload the website -->
                            {% include "employees_list.html" %}
                        </div>
                        <div id="content" class="overflow-auto col-span-1 mx-8 border-2 rounded-md">
                            <!-- This div will be updated -->
                        </div>
                    </div>
                    <div class="w-full py-3 px-4">
                        <button class="btn btn-primary w-2/12" hx-get="/employees" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Add New Employee</button>
                    <div>
                </div>        
            </div> 
        </div>        

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
    