<div class="client-details p-3" id="clientDetails1">
    <h2 class="mb-4">Client Details:</h2>

    <table class="table">
        <tbody>
            <tr class="grid grid-cols-6"><th class="col-span-3">NIF:</th><td class="col-span-3">{{ client_nif }}</td></tr>
            <tr class="grid grid-cols-6"><th class="col-span-3">Account Number:</th><td class="col-span-3">{{ account_number }}</td></tr>
            <tr class="grid grid-cols-6"><th class="col-span-3">Name:</th><td class="col-span-3">{{ client.fname }}</td></tr>
            <tr class="grid grid-cols-6"><th class="col-span-3">Surname:</th><td class="col-span-3">{{ client.lname }}</td></tr>
            <tr class="grid grid-cols-6"><th class="col-span-3">Zip:</th><td class="col-span-3">{{ client.zip }}</td></tr>
            <tr class="grid grid-cols-6"><th class="col-span-3">Locality:</th><td class="col-span-3">{{ client.locality }}</td></tr>
            <tr class="grid grid-cols-6"><th class="col-span-3">Street:</th><td class="col-span-3">{{ client.street }}</td></tr>
            <tr class="grid grid-cols-6"><th class="col-span-3">Number:</th><td class="col-span-3">{{ client.number }}</td></tr>
            <tr class="grid grid-cols-6"><th class="col-span-3">Birth Date:</th><td class="col-span-3">{{ client.birth_date }}</td></tr>
            <tr class="grid grid-cols-6"><th class="col-span-3">Sex:</th><td class="col-span-3">{{ client.sex }}</td></tr>
            <tr class="grid grid-cols-6"><th class="col-span-3">Phone:</th><td class="col-span-3">{{ client.phone_number }}</td></tr>
        </tbody>
    </table>
</div>