<div class="client-details" id="clientDetails1">
    <h2>NIF: {{ client_nif }}</h2>

    <p><strong>Account Number:</strong> {{ account_number }}</p>
    <p><strong>Name:</strong> {{ client.fname }}</p>
    <p><strong>Surname:</strong> {{ client.lname }}</p>
    <p><strong>Zip:</strong> {{ client.zip }}</p>
    <p><strong>Locality:</strong> {{ client.locality }}</p>
    <p><strong>Street:</strong> {{ client.street }}</p>
    <p><strong>Number:</strong> {{ client.number }}</p>
    <p><strong>Birth Date:</strong> {{ client.birth_date }}</p>
    <p><strong>Sex:</strong> {{ client.sex }}</p>
    <p><strong>Phone:</strong> {{ client.phone_number }}</p>
</div>