<div class="client-details p-3" id="clientDetails1">
    <h2 class="mb-4">Client Details:</h2>

    <table class="table">
        <tbody>
            <tr><th>NIF:</th><td>{{ client_nif }}</td></tr>
            <tr><th>Account Number:</th><td>{{ account_number }}</td></tr>
            <tr><th>Name:</th><td>{{ client.fname }}</td></tr>
            <tr><th>Surname:</th><td>{{ client.lname }}</td></tr>
            <tr><th>Zip:</th><td>{{ client.zip }}</td></tr>
            <tr><th>Locality:</th><td>{{ client.locality }}</td></tr>
            <tr><th>Street:</th><td>{{ client.street }}</td></tr>
            <tr><th>Number:</th><td>{{ client.number }}</td></tr>
            <tr><th>Birth Date:</th><td>{{ client.birth_date }}</td></tr>
            <tr><th>Sex:</th><td>{{ client.sex }}</td></tr>
            <tr><th>Phone:</th><td>{{ client.phone_number }}</td></tr>
        </tbody>
    </table>
</div>