<style>
       .large-label {
           font-size: 1.5em;
       }
</style>
<div id="clientDetails1" class="client-details p-3">
    <form class="client-details-form" hx-post="/clients/{{ client_nif }}" hx-target="#content" hx-swap="innerHTML">

           <h2>Client Details:</h2>
           <div class="grid grid-cols-2 grid-rows-7 gap-2 mt-4">

                     <label class="large-label" for="nif">NIF:</label>
                     <label class="large-label" for="nif">{{ client.nif }}</label>

                    <label class="large-label" for="fname">Name:</label>
                    <input class="form-control" type="text" id="fname" name="fname"
                           value="{{ client.fname }}">
      
                    <label class="large-label" for="lname">Surname:</label>
                    <input class="form-control" type="text" id="lname" name="lname"
                           value="{{ client.lname }}">

                    <label class="large-label" for="zip">Zip:</label>
                    <input class="form-control" type="text" id="zip" name="zip"
                           value="{{ client.zip }}">

                    <label class="large-label" for="locality">Locality:</label>
                    <input class="form-control" type="text" id="locality" name="locality"
                           value="{{ client.locality }}">
                    
                    <label class="large-label" for="street">Street:</label>
                    <input class="form-control" type="text" id="street" name="street"
                           value="{{ client.street }}">
                    
                    <label class="large-label" for="number">Number:</label>
                    <input class="form-control" type="text" id="number" name="number"
                           value="{{ client.number }}">
                    
                    <label class="large-label" for="birth_date">Birth Date:</label>
                    <input class="form-control" type="date" id="birth_date" name="birth_date"
                           value="{{ client.birth_date }}">
                    
                    <label class="large-label" for="sex">Sex:</label>
                    <input class="form-control" type="text" id="sex" name="sex"
                           value="{{ client.sex }}">
                    
                    <label class="large-label" for="phone_number">Phone:</label>
                    <input class="form-control" type="text" id="phone_number" name="phone_number"
                           value="{{ client.phone_number }}">
           </div>   
           <div class="w-full flex items-center justify-center mt-4">
                  <div class="w-9/12 mt-3 grid grid-cols-2 grid-rows-1 gap-3">
                         <button class="btn btn-success submit">Save</button>
                         
                         <button class="btn btn-secondary" hx-get="/clients/{{ account_number }}">Cancel</button>
                         
                  </div>
           </div>                     
    </form>
</div>