{% for client in clients %}
    <div class="w-11/12 border-4 my-2 rounded-lg d-flex flex-column p-3 cursor-pointer" hx-swap="innerHTML" hx-target="#content" hx-get="/clients/{{ client.acc_num }}" hx-trigger="click">
        <div class="d-flex justify-content-between align-items-center">
            <div class="client-list-item-details text-lg">
                <div class="mb-2">
                    <strong>Name: {{ client.fname }} {{ client.lname }} </strong>
                </div>
                <div>
                    <strong>Account Number: {{ client.acc_num }} </strong>
                </div>
            </div>
            <div class="d-flex flex-column align-items-end">
                <button style="width: 100px; margin-bottom: 10px;" class="edit-button btn btn-success border mx-2" hx-get="/clients/{{ client.acc_num }}?edit=true" hx-trigger="click" onclick="event.stopPropagation();">Edit</button>
                <button style="width: 100px;" class="delete-button btn btn-danger border mx-2" hx-delete="/clients/{{ client.acc_num }}" hx-confirm="Are you sure?" hx-trigger="click" onclick="event.stopPropagation();">Delete</button>
            </div>
        </div>
    </div>
{% endfor %}