<style>
       .large-label {
           font-size: 1.5em;
       }
</style>
<div id="clientDetails1" class="client-details p-3">
    <form class="client-details-form" hx-post="/clients{% if client_nif is defined %}/{{ client_nif }}{% endif %}" hx-target="#content" hx-swap="innerHTML">

           <h2>{% if client_nif is not defined %}New {{ client_nif }}{% endif %}Client Details{% if client_nif is defined %}:{{ client_nif }}{% endif %}</h2>
           <div class="grid grid-cols-2 grid-rows-7 gap-2 mt-4">
                    <label class="large-label" for="nif">NIF:</label>
                    <input class="form-control" type="text" id="nif" name="nif"
                            value="{% if client_nif is defined %}{{ client_nif }}{% endif %}">
                    <label class="large-label" for="fname">Name:</label>
                    <input class="form-control" type="text" id="fname" name="fname"
                           value="{% if client_nif is defined %}{{ client.fname }}{% endif %}">
      
                    <label class="large-label" for="lname">Surname:</label>
                    <input class="form-control" type="text" id="lname" name="lname"
                           value="{% if client_nif is defined %}{{ client.lname }}{% endif %}">

                    <label class="large-label" for="zip">Zip:</label>
                    <input class="form-control" type="text" id="zip" name="zip"
                           value="{% if client_nif is defined %}{{ client.zip }}{% endif %}">

                    <label class="large-label" for="locality">Locality:</label>
                    <input class="form-control" type="text" id="locality" name="locality"
                           value="{% if client_nif is defined %}{{ client.locality }}{% endif %}">
                    
                    <label class="large-label" for="street">Street:</label>
                    <input class="form-control" type="text" id="street" name="street"
                           value="{% if client_nif is defined %}{{ client.street }}{% endif %}">
                    
                    <label class="large-label" for="number">Number:</label>
                    <input class="form-control" type="text" id="number" name="number"
                           value="{% if client_nif is defined %}{{ client.number }}{% endif %}">
                    
                    <label class="large-label" for="birth_date">Birth Date:</label>
                    <input class="form-control" type="date" id="birth_date" name="birth_date"
                           value="{% if client_nif is defined %}{{ client.birth_date }}{% endif %}">
                    
                    <label class="large-label" for="sex">Sex:</label>
                    <input class="form-control" type="text" id="sex" name="sex"
                           value="{% if client_nif is defined %}{{ client.sex }}{% endif %}">
                    
                    <label class="large-label" for="phone_number">Phone:</label>
                    <input class="form-control" type="text" id="phone_number" name="phone_number"
                           value="{% if client_nif is defined %}{{ client.phone_number }}{% endif %}">
           </div>   
           <div class="w-full flex items-center mt-4">
                  <div class="w-9/12 mt-3 grid grid-cols-2 grid-rows-1">
                         <button class="btn btn-success submit">Save</button>
                  </div>
           </div>                     
    </form>
</div>