<div class="employee-details p-3 flex flex-col" id="employeeDetails1">
    <div class="flex flex-row">
        <h2 class="mb-4 mr-4">Employee Details</h2>
        <div>
            <button class="btn btn-secondary border mx-2" hx-get="/employees/{{ employee_number }}/schedule" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">See Schedule</button>
            {% if emp_type == 'E' %}
                <button class="edit-button btn btn-secondary border mx-2" hx-get="/employees/{{ employee_number }}/contract" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">See Contract</button>
            {% endif %}
        </div>
    </div>
    <div>
        <table class="table">
            <tbody>
                <tr class="grid grid-cols-6"><th class="col-span-3">Employee NIF:</th><td class="col-span-3"> {{ employee_nif }}</td></tr>
                <tr class="grid grid-cols-6"><th class="col-span-3">Employee Number:</th><td class="col-span-3"> {{ employee_number }}</td></tr>
                <tr class="grid grid-cols-6"><th class="col-span-3">Name:</th><td class="col-span-3"> {{ employee.fname }}</td></tr>
                <tr class="grid grid-cols-6"><th class="col-span-3">Surname:</th><td class="col-span-3"> {{ employee.lname }}</td></tr>
                <tr class="grid grid-cols-6"><th class="col-span-3">Zip:</th><td class="col-span-3"> {{ employee.zip }}</td></tr>
                <tr class="grid grid-cols-6"><th class="col-span-3">Locality:</th><td class="col-span-3"> {{ employee.locality }}</td></tr>
                <tr class="grid grid-cols-6"><th class="col-span-3">Street:</th><td class="col-span-3"> {{ employee.street }}</td></tr>
                <tr class="grid grid-cols-6"><th class="col-span-3">Number:</th><td class="col-span-3"> {{ employee.number }}</td></tr>
                <tr class="grid grid-cols-6"><th class="col-span-3">Birth Date:</th><td class="col-span-3"> {{ employee.birth_date }}</td></tr>
                <tr class="grid grid-cols-6"><th class="col-span-3">Sex:</th><td class="col-span-3"> {{ employee.sex }}</td></tr>
                <tr class="grid grid-cols-6"><th class="col-span-3">Establishment Number:</th><td class="col-span-3"> {{ employee.establishment_number }} {% if employee.manager %}<strong>(Manager)</strong>{% endif %}</td></tr>
                <tr class="grid grid-cols-6"><th class="col-span-3">Company phone:</th><td class="col-span-3"> {{ employee.company_phone }}</td></tr>
                <tr class="grid grid-cols-6"><th class="col-span-3">Private phone:</th><td class="col-span-3"> {{ employee.private_phone }}</td></tr>
                <tr class="grid grid-cols-6"><th class="col-span-3">Employee Type:</th><td class="col-span-3">{% if emp_type == 'E' %} Effective{% else %} Intern{% endif %}</td></tr>
                {% if emp_type == 'I' %}
                    <tr class="grid grid-cols-6"><th class="col-span-3">Internship End Date:</th><td class="col-span-3"> {{ employee.internship_end_date }}</td></tr>
                {% else %}
                    {% if employee.specialities %}
                        <tr class="grid grid-cols-6 h-10"><th class="col-span-3 h-full flex items-center">Specialized In:</th><td class="col-span-3"><strong>|</strong> {% for speciality in employee.specialities %} {{ speciality }} <strong>|</strong> {% endfor %} </td></tr>
                    {% endif %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
