{% if reviews|length > 0 %}
    <div class="grid grid-cols-2 mt-4 mb-4">
        <div class="col-span-1">
            <h4>Average rating: {{ average_rating }} <i class="fas fa-star"></i></h4>
        </div>
        <div class="col-span-1 text-right">
            <h4>Total reviews: {{ reviews|length }}</h4>
        </div>
    </div>
    <div class="mt-4 mb-4">
        <h4>Your performance: {{ performance }}</h4>
    </div>
    {% for review in reviews %} 
        <div class="w-11/12 border-4 border-black my-2 rounded-lg flex flex-row items-center justify-between" hx-swap="innerHTML" hx-target="#content">
            <div class="review-list-item-details flex flex-row text-lg p-3 cursor-pointer" hx-get="/reviews?nif_emp={{ review.emp_nif }}&nif_cli={{ review.cli_nif }}&date={{ review.review_date.split(" ")[0] }}" hx-trigger="click">
                <div class="review-rating mr-4">
                    <strong>{{ review.rating }}</strong>
                    <i class="fas fa-star"></i>
                </div>
                <div class="client-name"><strong>{{ review.client_Fname + " " + review.client_Lname }}</strong></div>
            </div>
            <div class="review-date mr-4 text-lg">{{ review.review_date }}</div>
        </div>
    {% endfor %}
{% else %}
    <h4 class="mt-4">You have no reviews</h4>
{% endif %}