<div class="establishment-details p-3" id="establishmentDetails1">
    <h2 class="mb-4">Establishment Details:</h2>

    <table class="table">
        <tbody>
            <tr class="grid grid-cols-6"><th class="col-span-3">Establishment ID:</th><td class="col-span-3">{{ establishment_id }}</td></tr>
            <tr class="grid grid-cols-6"><th class="col-span-3">Specification:</th><td class="col-span-3">{{ establishment.specification }}</td></tr>
            <tr class="grid grid-cols-6"><th class="col-span-3">Zip:</th><td class="col-span-3">{{ establishment.zip }}</td></tr>
            <tr class="grid grid-cols-6"><th class="col-span-3">Locality:</th><td class="col-span-3">{{ establishment.locality }}</td></tr>
            <tr class="grid grid-cols-6"><th class="col-span-3">Street:</th><td class="col-span-3">{{ establishment.street }}</td></tr>
            <tr class="grid grid-cols-6"><th class="col-span-3">Number:</th><td class="col-span-3">{{ establishment.number }}</td></tr>
            <tr class="grid grid-cols-6"><th class="col-span-3">Manager NIF:</th><td class="col-span-3">{{ establishment.manager_nif }}</td></tr>
            <tr class="grid grid-cols-6"><th class="col-span-3">Manager init date:</th><td class="col-span-3">{{ establishment.manager_init_date }}</td></tr>
        </tbody>
    </table>
</div>