{% include "header.html" %}

    <body class="bg-gray-100 flex flex-col items-center justify-center">  
        <style>
            .nav-link {
                color: black;
            }
            .nav-link:hover {
                background-color: rgb(13, 202, 240); /* Corresponde ao bg-info no Bootstrap */
                color: white;
            }
        </style>
        <div class="bg-white w-10/12 m-8 flex flex-col items-center rounded-xl shadow shadow-md" style="height: 83vh;">      
            <div class="w-full">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin-emp">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/employee-appointments">Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/client-appointments">Client</a>
                    </li>
                </ul>
            </div>
            <div class="w-11/12 h-full my-4">
                <h1 class="text-4xl">Select a persona...</h1>
            </div> 
        <div>   
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
    