<div class="contact-details" id="contactDetails1">
    <h2>Establishment Details: {{ establishment.id }}</h2>

    <p><strong>Specification:</strong> {{ establishment.specification }}</p>
    <p><strong>Zip:</strong> {{ establishment.zip }}</p>
    <p><strong>Locality:</strong> {{ establishment.locality }}</p>
    <p><strong>Street:</strong> {{ establishment.street }}</p>
    <p><strong>Number:</strong> {{ establishment.number }}</p>
    <p><strong>Manager NIF:</strong> {{ establishment.manager_nif }}</p>
    <p><strong>Manager init date:</strong> {{ establishment.manager_init_date }}</p>
</div>